boto3
botocore
brotlipy
certifi
cffi
charset-normalizer
click
cryptography
filelock
huggingface-hub
idna
importlib-metadata
jmespath
joblib
packaging
pillow
pip
pycparser
pyopenssl
pyparsing
pysocks
python-dateutil
# pytorch>=1.13
pyyaml
quadprog
regex
requests
s3transfer
sacremoses
scikit-learn>=1.0
scipy>=1.7
setuptools
six
threadpoolctl
tokenizers
# torchaudio
# torchvision
tqdm
transformers>=4.10
typing_extensions
urllib3
wheel
zipp
